<p-toolbar>
    <ng-template pTemplate="left">
    <div class="formgroup-inline">
        <div class="field">
            <span class="p-input-icon-right">
                <input pInputText type="text" placeholder="First Name" (change)="onFilterChange()" [(ngModel)]="selectedFilter.firstName" />
                <i class="pi pi-search"></i>
            </span>
        </div>
        <div class="field">
            <span class="p-input-icon-right">
                <input pInputText type="text" placeholder="Other Name" (change)="onFilterChange()" [(ngModel)]="selectedFilter.otherName" />
                <i class="pi pi-search"></i>
            </span>
        </div>
        <div class="field">
            <span class="p-input-icon-right">
                <input pInputText type="text" placeholder="Last Name" (change)="onFilterChange()" [(ngModel)]="selectedFilter.lastName" />
                <i class="pi pi-search"></i>
            </span>
        </div>
        <div class="field">
            <span class="p-input-icon-right">
                <input pInputText type="text" placeholder="Registration No" (change)="onFilterChange()" [(ngModel)]="selectedFilter.registrationNumber" />
                <i class="pi pi-search"></i>
            </span>
        </div>
    </div>
    </ng-template>
    <ng-template pTemplate="right">
        <div class="flex flex-wrap gap-2">
            <button pButton pRipple label="Clear Filters" class="p-button-raised" (click)="clearFilters()"></button>
            <button pButton pRipple label="Add Student" class="p-button-raised" (click)="showForm()" icon="pi pi-plus" class="p-button-success mr-2"></button>
        </div>
    </ng-template>
</p-toolbar>
