<div class="grid">
	<div class="col-12 md:col-6">
		<div class="card">
			<h5>Courses</h5>
            <div class="card card-w-title">
                <Span>Total Courses: {{totalCourse}}</Span> 
                <hr>
                <Span>Total Enabled Courses: {{totalCourseEnabled}}</Span> 
                <hr>
                <Span>Total Disabled Courses: {{totalCourseDisabled}}</Span> 
            </div>
		</div>

        <div class="card">
            <h5>Teachers</h5>
            <div class="card card-w-title">
                <Span>Total Teachers: {{totalTeacher}}</Span> 
                <hr>
                <Span>Total Enabled Teachers: {{totalTeacherEnabled}}</Span> 
                <hr>
                <Span>Total Disabled Teachers: {{totalTeacherDisabled}}</Span> 
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6">
		<div class="card">
			<h5>Students</h5>
			<div class="card card-w-title">
                <Span>Total Students: {{totalStudent}}</Span> 
                <hr>
                <Span>Total Enabled Students: {{totalStudentEnabled}}</Span> 
                <hr>
                <Span>Total Disabled Students: {{totalStudentDisabled}}</Span> 
            </div>
		</div>
    </div>
</div>